<h1>Welcome, murderhobos</h1>

<br>

<h3>What do you want to do tonight?
<br>
<br>
<br>
<a href="auto">Full Auto calculator, please</a>.<br>
<a href="armor">Armor Penetration calculator, please</a>.<br>
<a href="combat">Combat Resolution tool, please</a>.<br>
<a href="failure">Catastrophic failures, please</a>.</h3>
<br>
<br>
If you wanna see how badly a Call of Cthulhu campaign can fall apart, check out the saga of <a href="https://1d4chan.org/wiki/Old_Man_Henderson">Old Man Henderson</a>.
<br>
<br>
<br>
Good luck! May RNGesus smile upon you.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<font color = "red">DO NOT pentest this website. I'm not fucking kidding. Inputs are NOT sanitized and if you pwn this app, so help me I will fucking <b>destroy</b> you.<br>
I know where most of you sleep.</font>
